<!DOCTYPE HTML>
<html>
	<head>
		<link href='http://fonts.googleapis.com/css?family=Reenie+Beanie|Architects+Daughter' rel='stylesheet' type='text/css'>
		<link rel="stylesheet" type="text/css" href="css/reset.css">
		<link rel="stylesheet" type="text/css" href="css/stylesheet.css">
		<title>Rock Paper Scissors Lizard Spock</title>
	</head>

	<body>
		<h1 class='rock'>Rock&nbsp</h1> 
		<h1 class='paper'>Paper&nbsp</h1> 
		<h1 class='scissors'>Scissors&nbsp</h1> 
		<h1 class='lizard'>Lizard&nbsp</h1>
		<h1 class='spock'>Spock</h1>
		<div id='rules'><h2></h2></div>

		<div id="choices">
			<div id='rock_choice'>
				<img src="images/rock.png" data-pick='Rock' class='choice' />
			</div>
			<div id='paper_choice'>
				<img src="images/paper.png" data-pick='Paper' class='choice'/>
			</div>
			<div id='scissors_choice'>
				<img src="images/scissors.png" data-pick='Scissors' class='choice'/>
			</div>
			<div id='spock_choice'>
				<img src="images/spock.png" data-pick='Spock' class='choice' />
			</div>
			<div id='lizard_choice'>
				<img src="images/lizard.png" data-pick='Lizard' class='choice' />
			</div>
		</div>

		<section class='results'>
			<p id='players_choices' class='results'></p>
			<p id='outcome' class='results'></p>
		</section>

		<script src="jquery-1.11.1.min.js"></script>
		<script type="text/javascript" src="frontEnd.js" ></script>
		<script type="text/javascript" src="Rps.js" ></script>

	</body>
</html>