h1, h2 {
	font-family: 'Architects Daughter', cursive;
}

h1 {
	font-size: 5em;
	display: inline-block;
}

h2 {
	font-size: 1.5em;
	padding: 1%;
}

p.results {
	font-family: 'Reenie Beanie', cursive;
	font-size: 3em;
	padding: 0.5%;
	-webkit-animation: fade-in 5s;
}

#outcome {
	font-size: 4em;
}

#rules {
	height: 5%;
	padding-bottom: 1%;
}

body {
	padding-top: 3%;
	margin: 0 auto !important;
	text-align: center; 
	background-image: url('../../cute-kittens.jpg');
	background-size: 100%;
}

section.results {
	padding: 2%;
}

#rock_choice, #paper_choice, #scissors_choice, #spock_choice, #lizard_choice {
	width: 200px;
	height: 200px;
	border-radius: 50%;
	display: inline-block;
	margin: 1%;
}

.fadein {
	-webkit-animation: fade-in 2s;
}

img.choice {
	display: inline-block;
	width: 200px;
	height: 200px;
}

img.choice:hover {
	cursor: pointer;
	-webkit-animation: infinite-spinning 1s;
}

@-webkit-keyframes infinite-spinning {
	from {
		transform: rotateY(0deg);
	}
	to {
		transform: rotateY(720deg);
	}
}

@-webkit-keyframes fade-in {
	from { opacity: 0;}
	to {opacity: 1;}
}

