h1, h2, p {
	font-family: 'Architects Daughter', cursive;
}

h1 {
	font-size: 8em;
}

h2 {
	font-size: 2em;
	padding: 2%;
}

p.results {
	font-size: 1.5em;
	padding: 0.5%;
}

#outcome {
	font-size: 2em;
}

body {
	padding-top: 10%;
	font-family: Arial, Helvetica, sans-serif;
  margin-left: auto;
  margin-right: auto;
}

html, body {
	margin: 0 auto !important;
	height: 100%;
	text-align: center; 
}

section.results {
	padding: 2%;
}

#rock_choice, #paper_choice, #scissors_choice {
	width: 300px;
	height: 300px;
	border-radius: 50%;
	display: inline-block;
}

#rock_choice {
	background-color: #FF8DDD;
}

#paper_choice {
	background-color: #FFF4B9;
}

#scissors_choice {
	background-color: #5CCACC;
}

img.choice {
	display: inline-block;
}

.choice:hover {
	cursor: pointer;
	-webkit-animation: infinite-spinning 1s;
}

@-webkit-keyframes infinite-spinning {
	from {
		transform: rotateY(0deg);
	}
	to {
		transform: rotateY(720deg);
	}
}
